workflows/n8n-workflows-2026-01-06_vulnerability-response-workflow.json
{
  "name": "CyberSentinel Vulnerability Response",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "webhookId": "cve-alert-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Parse CVE alert payload\nconst cveData = items[0].json;\n\n// Extract key fields for analysis\nconst cveId = cveData.cveId || 'UNKNOWN';\nconst cvssScore = cveData.cvssScore || 0;\nconst description = cveData.description || 'No description available';\nconst affectedProducts = cveData.affectedProducts || [];\nconst references = cveData.references || [];\n\n// Determine severity based on CVSS score\nlet severity = 'LOW';\nif (cvssScore >= 9.0) severity = 'CRITICAL';\nelse if (cvssScore >= 7.0) severity = 'HIGH';\nelse if (cvssScore >= 4.0) severity = 'MEDIUM';\n\n// Check if actively exploited (CISA KEV)\nconst isActivelyExploited = cveData.isActivelyExploited || false;\nconst cisaKEVDate = cveData.cisaKEVDate || null;\n\n// Generate affected systems from CVE data\nconst affectedSystems = affectedProducts.map(product => ({\n  vendor: product.vendor || 'Unknown',\n  product: product.name || 'Unknown',\n  version: product.version || 'All versions',\n  patchAvailable: product.patchAvailable || false\n}));\n\n// Return structured analysis\nreturn [{\n  json: {\n    cveId,\n    cvssScore,\n    severity,\n    isActivelyExploited,\n    cisaKEVDate,\n    affectedSystems,\n    description,\n    references,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "cve-analysis",
      "name": "CVE Analysis",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "CRITICAL"
            }
          ]
        }
      },
      "id": "severity-filter-critical",
      "name": "Filter Critical",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "HIGH"
            }
          ]
        }
      },
      "id": "severity-filter-high",
      "name": "Filter High",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "operation": "notEqual",
              "value2": "CRITICAL"
            },
            {
              "operation": "notEqual",
              "value2": "HIGH"
            }
          ]
        }
      },
      "id": "severity-filter-other",
      "name": "Filter Medium/Low",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Generate vulnerability response actions\nconst vulnerability = items[0].json;\n\nconst recommendedActions = [];\n\n// Critical vulnerability response\nif (vulnerability.severity === 'CRITICAL') {\n  recommendedActions.push({\n    action: \"IMMEDIATE_PATCH\",\n    priority: \"P0\",\n    timeline: \"24-48 hours\",\n    description: \"Deploy emergency patch or mitigations immediately\",\n    steps: [\n      \"Identify all affected systems via asset inventory\",\n      \"Apply vendor patch or implement temporary workaround\",\n      \"Verify patch deployment completion\",\n      \"Monitor for exploitation attempts\",\n      \"Document all actions taken\"\n    ]\n  });\n  \n  recommendedActions.push({\n    action: \"NETWORK_SEGMENTATION\",\n    priority: \"P1\",\n    timeline: \"4-8 hours\",\n    description: \"Isolate affected systems from network\",\n    steps: [\n      \"Implement emergency firewall rules\",\n      \"Restrict access to affected systems\",\n      \"Enable enhanced monitoring\"\n    ]\n  });\n}\n\n// High vulnerability response\nif (vulnerability.severity === 'HIGH') {\n  recommendedActions.push({\n    action: \"SCHEDULED_PATCH\",\n    priority: \"P1\",\n    timeline: \"1-2 weeks\",\n    description: \"Schedule patch deployment in next maintenance window\",\n    steps: [\n      \"Add to patch management queue\",\n      \"Test patch in non-production environment\",\n      \"Schedule deployment window\",\n      \"Communicate to stakeholders\"\n    ]\n  });\n}\n\n// Active exploitation response\nif (vulnerability.isActivelyExploited) {\n  recommendedActions.unshift({\n    action: \"ACTIVE_EXPLOITATION_RESPONSE\",\n    priority: \"P0\",\n    timeline: \"IMMEDIATE\",\n    description: \"CISA KEV confirmed - active exploitation detected\",\n    steps: [\n      \"Check for compromise indicators on all affected systems\",\n      \"Review logs for suspicious activity\",\n      \"Deploy detection rules\",\n      \"Notify incident response team\",\n      \"Consider threat hunting engagement\"\n    ]\n  });\n}\n\n// Default actions for all severities\nrecommendedActions.push({\n  action: \"ASSESS_IMPACT\",\n  priority: \"P2\",\n  timeline: \"48-72 hours\",\n  description: \"Conduct impact assessment\",\n  steps: [\n    \"Identify critical assets using affected systems\",\n    \"Assess data exposure risk\",\n    \"Evaluate business continuity impact\",\n    \"Document findings\"\n  ]\n});\n\nrecommendedActions.push({\n  action: \"STAKEHOLDER_NOTIFICATION\",\n  priority: \"P2\",\n  timeline: \"48 hours\",\n  description: \"Notify relevant stakeholders\",\n  steps: [\n    \"Notify IT security team\",\n    \"Inform system owners\",\n    \"Update vulnerability management dashboard\",\n    \"Log in ticketing system\"\n  ]\n});\n\nreturn [{\n  json: {\n    vulnerabilityId: vulnerability.cveId,\n    severity: vulnerability.severity,\n    affectedSystems: vulnerability.affectedSystems,\n    recommendedActions,\n    generatedAt: new Date().toISOString(),\n    workflowId: \"cybersentinel-vuln-response-v1\"\n  }\n}];"
      },
      "id": "generate-response-actions",
      "name": "Generate Response Actions",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "vulnerability_alerts",
        "columns": {
          "cve_id": "={{ $json.vulnerabilityId }}",
          "severity": "={{ $json.severity }}",
          "affected_systems": "={{ JSON.stringify($json.affectedSystems) }}",
          "recommended_actions": "={{ JSON.stringify($json.recommendedActions) }}",
          "created_at": "={{ new Date().toISOString() }}",
          "status": "open"
        }
      },
      "id": "log-to-database",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "to": "security-team@company.com",
        "subject": "={{ 'CRITICAL: ' + $json.vulnerabilityId + ' Vulnerability Alert - ' + $json.severity }}",
        "body": "={{ 'Vulnerability Alert\\n\\nCVE: ' + $json.vulnerabilityId + '\\nSeverity: ' + $json.severity + '\\n\\nRecommended Actions:\\n' + $json.recommendedActions.map(a => '- ' + a.action + ': ' + a.description).join('\\n') }}"
      },
      "id": "send-alert-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "channel": "#security-alerts",
        "text": "={{ '🚨 *VULNERABILITY ALERT* 🚨\\n\\n*CVE:* ' + $json.vulnerabilityId + '\\n*Severity:* ' + $json.severity + '\\n\\n*Recommended Actions:*\\n' + $json.recommendedActions.map(a => '• ' + a.action + ': ' + a.description).join('\\n') }}"
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "incident",
        "operation": "create",
        "additionalFields": {
          "title": "={{ 'Vulnerability Response Required: ' + $json.vulnerabilityId }}",
          "description": "={{ 'Critical vulnerability detected requiring immediate attention.\\n\\nSeverity: ' + $json.severity + '\\n\\nActions: ' + JSON.stringify($json.recommendedActions) }}",
          "priority": "={{ $json.severity === 'CRITICAL' ? 'high' : 'medium' }}",
          "labels": "vulnerability,cve,security"
        }
      },
      "id": "create-service-now-incident",
      "name": "Create ServiceNow Incident",
      "type": "n8n-nodes-base.serviceNow",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CVE Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CVE Analysis": {
      "main": [
        [
          {
            "node": "Filter Critical",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter High",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Medium/Low",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical": {
      "main": [
        [
          {
            "node": "Generate Response Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High": {
      "main": [
        [
          {
            "node": "Generate Response Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Medium/Low": {
      "main": [
        [
          {
            "node": "Generate Response Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response Actions": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create ServiceNow Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}