workflows/workspace-2026-01-06 (18)_critical-vulnerability-alert.json
{
  "name": "CyberSentinel Critical Vulnerability Alert",
  "nodes": [
    {
      "parameters": {
        "url": "https://cve.circl.lu/api/cve/2025-55182",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "Fetch CVE Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "triggerType": "webhook",
        "path": "cve-alert",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        50
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.cvss }}",
              "operation": "equal",
              "value2": "10.0"
            }
          ]
        }
      },
      "name": "Filter Critical CVEs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "authentication": "genericCredentialType",
        "genericAuthType": "slackApi",
        "channel": "security-alerts",
        "text": "=🚨 CRITICAL VULNERABILITY ALERT\n\nCVE: {{ $json.id }}\nCVSS: {{ $json.cvss }}\nDescription: {{ $json.summary }}\n\nRecommended Actions:\n1. Patch React Server Components immediately\n2. Block external HTTP requests to server functions\n3. Enable WAF rules for RSC endpoints\n4. Audit Next.js deployments\n\nSeverity: CRITICAL",
        "options": {}
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "vulnerabilities",
        "columns": {
          "cve_id": "={{ $json.id }}",
          "cvss_score": "={{ $json.cvss }}",
          "description": "={{ $json.summary }}",
          "severity": "=CRITICAL",
          "status": "=active",
          "discovered": "={{ $json.published }}",
          "exploited": true
        }
      },
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "subject": "=CRITICAL: React2Shell Vulnerability CVE-2025-55182 Detected",
        "toEmail": "security-team@company.com",
        "emailFormat": "html",
        "body": "=<!DOCTYPE html>\n<html>\n<body>\n<h1>🚨 Critical Vulnerability Alert</h1>\n<h2>CVE-2025-55182 (React2Shell)</h2>\n<table border=\"1\" cellpadding=\"10\">\n<tr><td><strong>CVSS Score</strong></td><td>10.0 (Critical)</td></tr>\n<tr><td><strong>Affected Systems</strong></td><td>React 19.x, Next.js 15.x/16.x (App Router)</td></tr>\n<tr><td><strong>Status</strong></td><td>Actively Exploited</td></tr>\n<tr><td><strong>Threat Actor</strong></td><td>China-nexus (Earth Lamia, Jackpot Panda)</td></tr>\n</table>\n\n<h3>Immediate Actions Required:</h3>\n<ol>\n<li><strong>PATCH IMMEDIATELY</strong> - Apply security updates from React team</li>\n<li><strong>Block external requests</strong> to server function endpoints</li>\n<li><strong>Enable WAF rules</strong> for RSC protection</li>\n<li><strong>Audit all Next.js deployments</strong> for unauthorized server functions</li>\n<li><strong>Monitor for indicators</strong>: unusual HTTP requests to /_next/data or /api/*</li>\n</ol>\n\n<p>This vulnerability allows unauthenticated RCE via crafted HTTP requests.</p>\n</body>\n</html>"
      },
      "name": "Email Security Team",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "pagerDutyApi",
        "summary": "Critical: CVE-2025-55182 React2Shell Detected",
        "source": "CyberSentinel",
        "severity": "critical",
        "customDetails": "=CVE: CVE-2025-55182\nCVSS: 10.0\nAffected: React 19.x, Next.js 15.x/16.x\nExploited: Yes\nThreat Actor: China-nexus groups"
      },
      "name": "PagerDuty Incident",
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch CVE Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CVE Details": {
      "main": [
        [
          {
            "node": "Filter Critical CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical CVEs": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Email Security Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "PagerDuty Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}