workflows/workspace-2026-01-06 (49)_critical_vulnerability_response.json
{
  "name": "Critical Vulnerability Response - React2Shell, CVE-2025-55182",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 1
            }
          ]
        }
      },
      "id": "cve-scheduler",
      "name": "Schedule CVE Monitoring",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0?cveId=CVE-2025-55182",
        "options": {}
      },
      "id": "nvd-api",
      "name": "NVD CVE API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {}
      },
      "id": "cisa-kev",
      "name": "CISA KEV Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.cveId }}",
              "operation": "equal",
              "value2": "CVE-2025-55182"
            }
          ]
        }
      },
      "id": "check-react2shell",
      "name": "Check React2Shell",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.cveId }}",
              "operation": "contains",
              "value2": "CVE-2025"
            }
          ]
        }
      },
      "id": "check-dec2025",
      "name": "Check Dec 2025 CVEs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value": "={{ $json.cvssMetricV31[0].cvssData.baseScore }}",
              "operation": "gte",
              "value2": 9
            }
          ]
        }
      },
      "id": "critical-severity",
      "name": "Critical Severity Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value": "={{ $json.isExploited }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "active-exploitation",
      "name": "Active Exploitation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.vendorProject }}",
              "operation": "contains",
              "value2": "react"
            }
          ]
        }
      },
      "id": "react-affected",
      "name": "React Ecosystem Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.vendorProject }}",
              "operation": "contains",
              "value2": "nextjs"
            }
          ]
        }
      },
      "id": "nextjs-affected",
      "name": "Next.js Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.vendorProject }}",
              "operation": "contains",
              "value2": "microsoft"
            }
          ]
        }
      },
      "id": "microsoft-affected",
      "name": "Microsoft Products Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.vendorProject }}",
              "operation": "contains",
              "value2": "cisco"
            }
          ]
        }
      },
      "id": "cisco-affected",
      "name": "Cisco Products Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.vendorProject }}",
              "operation": "contains",
              "value2": "apache"
            }
          ]
        }
      },
      "id": "apache-affected",
      "name": "Apache Products Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.vendorProject }}",
              "operation": "contains",
              "value2": "atlassian"
            }
          ]
        }
      },
      "id": "atlassian-affected",
      "name": "Atlassian Products Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "method": "post",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ JSON.stringify({ text: \"🚨 CRITICAL VULNERABILITY ALERT: \" + $json.cveId + \" - CVSS: \" + $json.cvssMetricV31[0].cvssData.baseScore + \"\\nDescription: \" + $json.descriptions[0].value + \"\\nAffected: \" + $json.vendorProject + \"\\nStatus: ACTIVE EXPLOITATION DETECTED\" }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "to": "={{ $env.SECURITY_TEAM_EMAIL }}",
        "subject": "={{ \"🚨 CRITICAL: \" + $json.cveId + \" Vulnerability Alert - Immediate Action Required\" }}",
        "body": "={{ \"Critical vulnerability detected:\\n\\nCVE: \" + $json.cveId + \"\\nCVSS Score: \" + $json.cvssMetricV31[0].cvssData.baseScore + \"\\nVendor: \" + $json.vendorProject + \"\\n\\nDescription:\\n\" + $json.descriptions[0].value + \"\\n\\nRecommended Actions:\\n1. IMMEDIATELY identify affected systems\\n2. Apply patches as soon as available\\n3. Implement temporary mitigations\\n4. Monitor for signs of compromise\\n\\nReference: \" + $json.references[0].url }}",
        "options": {}
      },
      "id": "email-alert",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1300,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $node.json.vendorProject }}",
              "operation": "notContains",
              "value2": "none"
            }
          ]
        }
      },
      "id": "scan-scm",
      "name": "Scan Git Repositories",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "method": "post",
        "url": "={{ $env.SPLUNK_HEC_URL }}",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Splunk \" + $env.SPLUNK_TOKEN }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "={{ JSON.stringify({ cve_id: $json.cveId, severity: \"CRITICAL\", affected_systems: $json.vendorProject, action: \"alert_generated\" }) }}"
            },
            {
              "name": "sourcetype",
              "value": "cyber:threat_intel"
            }
          ]
        },
        "options": {}
      },
      "id": "splunk-ingest",
      "name": "Ingest to SIEM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "method": "post",
        "url": "={{ $env.SERVICENOW_API_URL }}/api/now/table/incident",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Basic \" + $env.SERVICENOW_AUTH }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "short_description",
              "value": "={{ \"Critical Vulnerability Alert: \" + $json.cveId }}"
            },
            {
              "name": "description",
              "value": "={{ \"CVSS Score: \" + $json.cvssMetricV31[0].cvssData.baseScore + \"\\nVendor: \" + $json.vendorProject + \"\\n\" + $json.descriptions[0].value }}"
            },
            {
              "name": "urgency",
              "value": "1"
            },
            {
              "name": "impact",
              "value": "1"
            },
            {
              "name": "priority",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "servicenow-ticket",
      "name": "Create ServiceNow Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        350
      ]
    },
    {
      "parameters": {
        "command": "={{ \"python3 /opt/scripts/check_vulnerable_versions.py --cve \" + $json.cveId + \" --output json\" }}"
      },
      "id": "scan-scripts",
      "name": "Vulnerability Scanner Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.asset_type }}",
              "operation": "equal",
              "value2": "internet-facing"
            }
          ]
        }
      },
      "id": "internet-facing",
      "name": "Internet-Facing Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value": "={{ $json.asset_type }}",
              "operation": "equal",
              "value2": "internal"
            }
          ]
        }
      },
      "id": "internal-sys",
      "name": "Internal System Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1700,
        350
      ]
    },
    {
      "parameters": {
        "method": "post",
        "url": "={{ $env.EDR_API_URL }}/v1/threats",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.EDR_API_KEY }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "threat_name",
              "value": "={{ $json.cveId }}"
            },
            {
              "name": "threat_type",
              "value": "vulnerability"
            },
            {
              "name": "severity",
              "value": "critical"
            },
            {
              "name": "description",
              "value": "={{ $json.descriptions[0].value }}"
            },
            {
              "name": "indicators",
              "value": "={{ JSON.stringify($json.references) }}"
            },
            {
              "name": "recommended_actions",
              "value": "={{ JSON.stringify([\"Apply vendor patch immediately\", \"Implement WAF rules\", \"Monitor for exploitation attempts\", \"Review access logs\"]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "edr-threat",
      "name": "Update EDR Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1900,
        200
      ]
    },
    {
      "parameters": {
        "method": "post",
        "url": "={{ $env.WAF_API_URL }}/rules",
        "sendHeaders": true,
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.WAF_API_TOKEN }}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "rule_id",
              "value": "={{ \"BLOCK_CVE_\" + $json.cveId }}"
            },
            {
              "name": "action",
              "value": "block"
            },
            {
              "name": "conditions",
              "value": "={{ JSON.stringify([{ field: \"uri\", operator: \"contains\", value: $json.cveId }]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "waf-rules",
      "name": "Update WAF Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1900,
        350
      ]
    },
    {
      "parameters": {
        "command": "={{ \"curl -X POST \" + $env.SOAR_API_URL + \"/playbooks/\" + $json.cveId + \" -H 'Content-Type: application/json' -d '{\\\"action\\\":\\\"scan\\\",\\\"priority\\\":\\\"critical\\\"}'\" }}"
      },
      "id": "soar-scan",
      "name": "Trigger SOAR Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1900,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "threatType",
              "value": "VULNERABILITY"
            },
            {
              "name": "severity",
              "value": "CRITICAL"
            },
            {
              "name": "cveId",
              "value": "={{ $json.cveId }}"
            },
            {
              "name": "affectedSystems",
              "value": "={{ $json.vendorProject }}"
            },
            {
              "name": "cvssScore",
              "value": "={{ $json.cvssMetricV31[0].cvssData.baseScore }}"
            },
            {
              "name": "exploitationStatus",
              "value": "ACTIVE"
            },
            {
              "name": "patchAvailable",
              "value": "={{ $json.configurations[0].nodes[0].cpeMatch[0].vulnerable }}"
            }
          ]
        }
      },
      "id": "threat-intel",
      "name": "Threat Intel Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2100,
        200
      ]
    }
  ],
  "connections": {
    "Schedule CVE Monitoring": {
      "main": [
        [
          {
            "node": "NVD CVE API",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA KEV Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVD CVE API": {
      "main": [
        [
          {
            "node": "Check React2Shell",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Dec 2025 CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA KEV Catalog": {
      "main": [
        [
          {
            "node": "Check React2Shell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check React2Shell": {
      "main": [
        [
          {
            "node": "Critical Severity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dec 2025 CVEs": {
      "main": [
        [
          {
            "node": "Active Exploitation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Severity Check": {
      "main": [
        [
          {
            "node": "React Ecosystem Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft Products Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cisco Products Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apache Products Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active Exploitation Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ingest to SIEM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create ServiceNow Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threat Intel Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React Ecosystem Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next.js Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Products Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cisco Products Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apache Products Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atlassian Products Check": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ingest to SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Alert": {
      "main": [
        [
          {
            "node": "Create ServiceNow Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest to SIEM": {
      "main": [
        [
          {
            "node": "Create ServiceNow Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ServiceNow Ticket": {
      "main": [
        [
          {
            "node": "Update EDR Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update WAF Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update EDR Rules": {
      "main": [
        [
          {
            "node": "Threat Intel Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update WAF Rules": {
      "main": [
        [
          {
            "node": "Threat Intel Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threat Intel Output": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "id": "cve-response-workflow-2025-12-27",
  "meta": {
    "instanceId": "cybersentinel-001"
  }
}