workflows/workspace-2026-01-06 (28)_cybersentinel_ransomware_response.json
{
  "name": "CyberSentinel - Ransomware Threat Response",
  "nodes": [
    {
      "parameters": {
        "rule": "title: /ransomware|lockbit|akira|qilin|play|blackcat/gi\ndescription: Detect ransomware-related IOCs and alerts\ntags: []\nauthor: CyberSentinel\ncreated: 2025-12-30"
      },
      "id": "ransomware-trigger",
      "name": "Ransomware Alert Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Monitors for ransomware indicators every 15 minutes"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.nationalcrimedatabase.org/ransomware-groups/v1/active",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ransomware-feed",
      "name": "Ransomware Feed Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        200
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Check active ransomware groups and IOCs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.darkweb-monitor.com/v1/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"ransomware leak site\",\n  \"timeframe\": \"7d\",\n  \"sources\": [\"darknet\"]\n}",
        "options": {}
      },
      "id": "darkweb-monitor",
      "name": "Dark Web Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        200
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Monitor dark web for new ransomware threats"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.virustotal.com/v3/intelligence/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "{{ $node[\"VT Credentials\"].json[\"api_key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"tag:ransomware AND last_modification_date:>2025-12-01\"\n}",
        "options": {}
      },
      "id": "vt-ransomware",
      "name": "VirusTotal Ransomware Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        200
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Search VirusTotal for new ransomware"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"VirusTotal Ransomware Search\"].json[\"total\"] }}",
              "operation": "greaterThan",
              "value2": "5"
            }
          ]
        }
      },
      "id": "new-threat-check",
      "name": "New Threat Detection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Check if new ransomware detected"
    },
    {
      "parameters": {
        "channel": "security-alerts",
        "text": "=🔴 **RANSOMWARE THREAT DETECTED** 🔴\n\n**Detected:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"names\"] }}\n**Source:** VirusTotal Intelligence\n**Time:** {{ $now }}\n\n**IOCs Identified:**\n- **Hashes:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"sha256\"] }}\n- **Type:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"type_description\"] }}\n\n**Threat Classification:**\n- **Type:** Ransomware\n- **Severity:** HIGH\n- **Campaign:** {{ $node[\"Ransomware Feed Lookup\"].json[\"active_group\"] }}\n\n**Immediate Actions:**\n1. ⚠️ Block identified file hashes in EDR\n2. ⚠️ Update firewall rules\n3. ⚠️ Scan network for IOCs\n4. ⚠️ Review recent backup status\n5. ⚠️ Notify IR team\n\n🔗 [VirusTotal Report](https://www.virustotal.com/gui/file/{{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"id\"] }})",
        "attachments": [],
        "blocks": []
      },
      "id": "slack-ransomware-alert",
      "name": "Slack Ransomware Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "disabled": false,
      "credentials": {
        "slackApi": {
          "id": "slack-credential-id",
          "name": "Slack Security Alerts"
        }
      }
    },
    {
      "parameters": {
        "from": "security@company.com",
        "to": "ir-team@company.com",
        "subject": "🚨 ALERT: New Ransomware Variant Detected - Immediate Action Required",
        "body": "=**RANSOMWARE THREAT ALERT**\n\n**Detection Details:**\n- **Detected Time:** {{ $now }}\n- **Source:** VirusTotal Intelligence\n- **Severity:** HIGH\n\n**IOCs Identified:**\n- **SHA256:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"sha256\"] }}\n- **Type:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"type_description\"] }}\n- **First Seen:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"first_submission_date\"] }}\n\n**Recommended Immediate Actions:**\n\n**Phase 1 - Containment (0-1 hour):**\n- [ ] Block identified file hashes in EDR/SIEM\n- [ ] Block command & control domains\n- [ ] Enable network segmentation\n- [ ] Verify backup integrity\n\n**Phase 2 - Investigation (1-4 hours):**\n- [ ] Scan all endpoints for IOCs\n- [ ] Review logs for lateral movement indicators\n- [ ] Identify patient zero\n- [ ] Preserve forensic evidence\n\n**Phase 3 - Eradication & Recovery:**\n- [ ] Remove malicious files and persistence mechanisms\n- [ ] Patch exploited vulnerabilities\n- [ ] Restore from clean backups\n- [ ] Validate system integrity\n\n**Affected Groups Notified:**\n- Security Operations Center\n- Incident Response Team\n- IT Infrastructure Team\n- Executive Leadership\n\n---\n*Automated alert generated by CyberSentinel*",
        "options": {}
      },
      "id": "email-ir-team",
      "name": "Email IR Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "disabled": false,
      "credentials": {
        "smtp": {
          "id": "smtp-credential-id",
          "name": "Company SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.your-edr.com/v1/threats/block",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $node[\"EDR Credentials\"].json[\"api_key\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"block_hash\",\n  \"hashes\": [\n    \"{{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"sha256\"] }}\"\n  ],\n  \"reason\": \"Ransomware detected by CyberSentinel\",\n  \"severity\": \"high\"\n}",
        "options": {}
      },
      "id": "edr-block",
      "name": "Block in EDR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        300
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Automatically block ransomware IOCs in EDR"
    },
    {
      "parameters": {
        "url": "https://api.sentinelone.com/v1/threats",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $node[\"SentinelOne\"].json[\"api_key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"attributes\": {\n      \"incidentType\": \"ransomware_detected\",\n      \"threatInfo\": {\n        \"fileHash\": \"{{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"sha256\"] }}\",\n        \"threatName\": \"{{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"names\"] }}\",\n        \"detectionTime\": \"{{ $now }}\"\n      },\n      \"automatedResponse\": true,\n      \"severity\": \"critical\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "sentinelone-ingest",
      "name": "Ingest to SentinelOne",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        200
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Send threat to SentinelOne for automated response"
    },
    {
      "parameters": {
        "jiraProject": "IR",
        "jiraIssueType": "Incident",
        "title": "=🚨 INCIDENT: Ransomware Variant Detected - {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"names\"][0] }}",
        "body": "=**RANSOMWARE INCIDENT - AUTOMATED TICKET**\n\n**Detection Summary:**\n- **Detected By:** CyberSentinel Automated Monitor\n- **Time:** {{ $now }}\n- **Severity:** CRITICAL\n\n**Threat Indicators:**\n- **File Hash (SHA256):** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"sha256\"] }}\n- **Malware Type:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"type_description\"] }}\n- **First Seen:** {{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"first_submission_date\"] }}\n\n**MITRE ATT&CK Mapping:**\n- T1486 - Data Encrypted for Impact\n- T1490 - Inhibit System Recovery\n- T1561 - Disk Structure Wipe\n- T1562 - Impair Defenses\n\n**Playbook Actions Required:**\n\n**IMMEDIATE (0-15 minutes):**\n- [ ] Confirm detection with EDR console\n- [ ] Isolate affected endpoint(s)\n- [ ] Block hash across all endpoints\n- [ ] Activate IR team\n\n**SHORT-TERM (15-60 minutes):**\n- [ ] Identify scope of infection\n- [ ] Review network segmentation\n- [ ] Check backup status\n- [ ] Preserve evidence\n\n**LONG-TERM (1-4 hours):**\n- [ ] Full system scan\n- [ ] Remove persistence mechanisms\n- [ ] Restore from clean backups\n- [ ] Post-incident review\n\n**Command Center:**\n- 📞 IR Hotline: ext. 5555\n- 📧 ir-team@company.com\n- 📍 War Room: Building A, Floor 3\n\n---\n*Automated ticket created by CyberSentinel*",
        "labels": [
          "ransomware",
          "critical-incident",
          "automated-detection"
        ]
      },
      "id": "jira-incident",
      "name": "Create IR Ticket",
      "type": "n8n-nodes-base.jiraSoftware",
      "typeVersion": 1,
      "position": [
        1300,
        100
      ],
      "disabled": false,
      "credentials": {
        "jiraSoftwareApi": {
          "id": "jira-credential-id",
          "name": "Jira Security"
        }
      }
    },
    {
      "parameters": {
        "command": "=python3 /opt/cyber-sentinel/scripts/block_iocs.py \\\n  --hashes \"{{ $node[\"VirusTotal Ransomware Search\"].json[\"data\"][0][\"attributes\"][\"sha256\"] }}\" \\\n  --firewall block \\\n  --log-level high",
        "timeout": 60
      },
      "id": "firewall-block",
      "name": "Block at Firewall",
      "type": "n8n-nodes-base.execCommand",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "disabled": false,
      "notesInFlow": true,
      "notes": "Block IOCs at network firewall level"
    }
  ],
  "connections": {
    "Ransomware Alert Trigger": {
      "main": [
        [
          {
            "node": "Ransomware Feed Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dark Web Monitor",
            "type": "main",
            "index": 0
          },
          {
            "node": "VirusTotal Ransomware Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal Ransomware Search": {
      "main": [
        [
          {
            "node": "New Threat Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Threat Detection": {
      "main": [
        [
          {
            "node": "Slack Ransomware Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email IR Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Block in EDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block in EDR": {
      "main": [
        [
          {
            "node": "Ingest to SentinelOne",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create IR Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Block at Firewall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "workflow_id": "cybersentinel-ransomware-001",
    "description": "Automated ransomware threat detection and response workflow",
    "version": "1.0.0",
    "created_by": "CyberSentinel",
    "created_at": "2025-12-30T14:20:11Z"
  }
}