workflows/workspace-2026-01-06 (35)_n8n-workflow-cve-monitor.json
{
  "name": "CyberSentinel - Comprehensive CVE Monitoring Workflow",
  "onError": "stopWorkflow",
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "errorWorkflow": "error-handler-workflow"
  },
  "nodes": [
    {
      "parameters": {
        "pollTime": "7200000",
        "pollUnit": "milliseconds",
        "options": {}
      },
      "id": "cve-monitor-master-trigger",
      "name": "Master CVE Monitor Trigger",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "disabled": false
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0/?resultsPerPage=100&pubStartDate=2025-12-01T00:00:00.000Z",
        "options": {}
      },
      "id": "nvd-api-master",
      "name": "Check NVD for New CVEs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "disabled": false,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "name": "NVD API Key",
          "id": "nvd-api-key",
          "type": "httpHeaderAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/api/known-exploited-vulnerabilities",
        "options": {}
      },
      "id": "cisa-kev-master",
      "name": "Check CISA KEV Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "disabled": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/issues?q=CVE-2025-*+is:issue+is:open+label:security",
        "options": {}
      },
      "id": "github-cve-tracker",
      "name": "Track GitHub Security CVEs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        400
      ],
      "disabled": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": "cve_watchlist",
        "options": {
          "columns": "cve_id,product,severity_threshold,notification_group"
        }
      },
      "id": "read-cve-watchlist",
      "name": "Read CVE Watchlist",
      "type": "n8n-nodes-base.n8nSql",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "disabled": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.cveID }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-new-cves",
      "name": "Filter New CVEs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        250
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "cve_database",
        "columns": {
          "cve_id": "={{ $json.cveID }}",
          "description": "={{ $json.description }}",
          "cvss_score": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.baseScore }}",
          "severity": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.baseSeverity }}",
          "attack_vector": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.attackVector }}",
          "attack_complexity": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.attackComplexity }}",
          "privileges_required": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.privilegesRequired }}",
          "user_interaction": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.userInteraction }}",
          "scope": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.scope }}",
          "confidentiality": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.confidentialityImpact }}",
          "integrity": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.integrityImpact }}",
          "availability": "={{ $json.metrics?.cvssMetricV31?.[0]?.cvssData?.availabilityImpact }}",
          "published_date": "={{ $json.published }}",
          "last_modified": "={{ $json.lastModified }}",
          "affected_vendor": "={{ $json.configurations?.[0]?.cpeMatch?.[0]?.criteria }}",
          "status": "NEW",
          "created_at": "={{ new Date().toISOString() }}",
          "updated_at": "={{ new Date().toISOString() }}"
        },
        "additionalFields": {}
      },
      "id": "store-new-cve",
      "name": "Store New CVE",
      "type": "n8n-nodes-base.n8nSql",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "disabled": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "CRITICAL"
            },
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "HIGH"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "filter-severe-cves",
      "name": "Filter Severe CVEs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        350
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "grep -q '{{ $json.cve_id }}' /etc/n8n/critical_cves.txt && echo \"match\" || echo \"no_match\"",
        "shell": "bash"
      },
      "id": "check-critical-cve-list",
      "name": "Check Critical CVE List",
      "type": "n8n-nodes-base.execCommand",
      "typeVersion": 1,
      "position": [
        900,
        450
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "append",
        "message": "=🚨 NEW CRITICAL VULNERABILITY\n\nCVE: {{ $json.cve_id }}\nCVSS Score: {{ $json.cvss_score }}\nSeverity: {{ $json.severity }}\n\nDescription:\n{{ $json.description }}\n\nAttack Vector: {{ $json.attack_vector }}\nAffected System: {{ $json.affected_vendor }}\n\n📋 IMMEDIATE ACTIONS:\n1. Check if affected systems are in your environment\n2. Review available patches\n3. Apply compensating controls if patches unavailable\n4. Enable enhanced monitoring\n\nReference: https://nvd.nist.gov/vuln/detail/{{ $json.cve_id }}",
        "additionalFields": {}
      },
      "id": "critical-cve-slack",
      "name": "Critical CVE Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "disabled": false,
      "credentials": {
        "slackApi": {
          "name": "Slack Alert Channel",
          "id": "slack-alerts",
          "type": "slackApi"
        }
      }
    },
    {
      "parameters": {
        "to": "security-team@company.com",
        "subject": "🚨 CRITICAL: {{ $json.cve_id }} Vulnerability Alert",
        "emailFormat": "html",
        "body": "= <h2>🚨 CRITICAL VULNERABILITY DETECTED</h2>\n<p><strong>CVE:</strong> {{ $json.cve_id }}</p>\n<p><strong>CVSS Score:</strong> {{ $json.cvss_score }} ({{ $json.severity }})</p>\n<p><strong>Attack Vector:</strong> {{ $json.attack_vector }}</p>\n<p><strong>Attack Complexity:</strong> {{ $json.attack_complexity }}</p>\n\n<h3>Description</h3>\n<p>{{ $json.description }}</p>\n\n<h3>Impact</h3>\n<ul>\n<li>Confidentiality Impact: {{ $json.confidentiality }}</li>\n<li>Integrity Impact: {{ $json.integrity }}</li>\n<li>Availability Impact: {{ $json.availability }}</li>\n</ul>\n\n<h3>Recommended Actions</h3>\n<ol>\n<li>Check if affected systems are in your environment</li>\n<li>Review available vendor patches</li>\n<li>Apply patches immediately or implement compensating controls</li>\n<li>Enable enhanced monitoring for exploitation attempts</li>\n</ol>\n\n<p>Reference: <a href=\"https://nvd.nist.gov/vuln/detail/{{ $json.cve_id }}\">NVD Detail Page</a></p>",
        "attachments": []
      },
      "id": "critical-cve-email",
      "name": "Critical CVE Email Alert",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1.3,
      "position": [
        1100,
        450
      ],
      "disabled": false,
      "credentials": {
        "smtp": {
          "name": "SMTP Server",
          "id": "smtp-server",
          "type": "smtp"
        }
      }
    },
    {
      "parameters": {
        "resource": "incident",
        "operation": "create",
        "title": "={{ $json.cve_id }} - Critical Vulnerability Detected",
        "description": "={{ $json.description }}\n\nCVSS: {{ $json.cvss_score }}\nSeverity: {{ $json.severity }}\nAttack Vector: {{ $json.attack_vector }}",
        "labels": [
          "vulnerability",
          "={{ $json.severity.toLowerCase() }}",
          "cve"
        ],
        "priority": "={{ $json.severity === 'CRITICAL' ? 1 : $json.severity === 'HIGH' ? 2 : 3 }}",
        "additionalFields": {}
      },
      "id": "create-cve-incident",
      "name": "Create Vulnerability Incident",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1100,
        600
      ],
      "disabled": false,
      "credentials": {
        "jiraApi": {
          "name": "Jira Instance",
          "id": "jira-instance",
          "type": "jiraApi"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "vulnerability_alerts",
        "columns": {
          "cve_id": "={{ $json.cve_id }}",
          "cvss_score": "={{ $json.cvss_score }}",
          "severity": "={{ $json.severity }}",
          "status": "ACTIVE",
          "notification_sent": "={{ new Date().toISOString() }}",
          "alert_type": "CRITICAL"
        },
        "additionalFields": {}
      },
      "id": "log-vulnerability-alert",
      "name": "Log Vulnerability Alert",
      "type": "n8n-nodes-base.n8nSql",
      "typeVersion": 1,
      "position": [
        1300,
        350
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "echo '{{ $json.cve_id }},{{ $json.cvss_score }},{{ $json.severity }},{{ new Date().toISOString() }}' >> /var/log/cve-alerts.csv",
        "shell": "bash"
      },
      "id": "log-csv",
      "name": "Log to CSV",
      "type": "n8n-nodes-base.execCommand",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "patch_management",
        "columns": {
          "cve_id": "={{ $json.cve_id }}",
          "status": "PENDING",
          "severity": "={{ $json.severity }}",
          "created_at": "={{ new Date().toISOString() }}",
          "due_date": "={{ new Date(Date.now() + ($json.severity === 'CRITICAL' ? 7 : $json.severity === 'HIGH' ? 14 : 30) * 24 * 60 * 60 * 1000).toISOString() }}",
          "assigned_to": "={{ $json.notification_group }}"
        },
        "additionalFields": {}
      },
      "id": "create-patch-task",
      "name": "Create Patch Task",
      "type": "n8n-nodes-base.n8nSql",
      "typeVersion": 1,
      "position": [
        1300,
        650
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "cat > /var/log/patch_status.json << EOF\n{\n  \"last_update\": \"{{ new Date().toISOString() }}\",\n  \"critical_cves\": {{ $json.critical_count }},\n  \"high_cves\": {{ $json.high_count }}\n}\nEOF",
        "shell": "bash"
      },
      "id": "update-patch-status",
      "name": "Update Patch Status",
      "type": "n8n-nodes-base.execCommand",
      "typeVersion": 1,
      "position": [
        1500,
        400
      ],
      "disabled": false
    },
    {
      "parameters": {
        "resource": "siem",
        "operation": "create",
        "event": {
          "sourcetype": "vulnerability_alert",
          "event": "New CVE detected",
          "cve_id": "={{ $json.cve_id }}",
          "cvss_score": "={{ $json.cvss_score }}",
          "severity": "={{ $json.severity }}",
          "attack_vector": "={{ $json.attack_vector }}"
        }
      },
      "id": "log-cve-siem",
      "name": "Log CVE to SIEM",
      "type": "n8n-nodes-base.splunk",
      "typeVersion": 1,
      "position": [
        1500,
        550
      ],
      "disabled": false,
      "credentials": {
        "splunkApi": {
          "name": "Splunk Instance",
          "id": "splunk-instance",
          "type": "splunkApi"
        }
      }
    }
  ],
  "connections": {
    "Master CVE Monitor Trigger": {
      "main": [
        [
          {
            "node": "Check NVD for New CVEs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check CISA KEV Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track GitHub Security CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check NVD for New CVEs": {
      "main": [
        [
          {
            "node": "Filter New CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CISA KEV Catalog": {
      "main": [
        [
          {
            "node": "Filter New CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track GitHub Security CVEs": {
      "main": [
        [
          {
            "node": "Filter New CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New CVEs": {
      "main": [
        [
          {
            "node": "Store New CVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New CVE": {
      "main": [
        [
          {
            "node": "Filter Severe CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Severe CVEs": {
      "main": [
        [
          {
            "node": "Critical CVE Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical CVE Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Vulnerability Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical CVE Slack Alert": {
      "main": [
        [
          {
            "node": "Log Vulnerability Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical CVE Email Alert": {
      "main": [
        [
          {
            "node": "Log Vulnerability Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Patch Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vulnerability Incident": {
      "main": [
        [
          {
            "node": "Create Patch Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log CVE to SIEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Vulnerability Alert": {
      "main": [
        [
          {
            "node": "Update Patch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "createdAt": "2025-12-27T14:20:11.968570+00:00",
  "updatedAt": "2025-12-27T14:20:11.968570+00:00",
  "meta": {
    "agent_id": "a401e896-d617-4e97-8bbf-29f47e133c21",
    "trigger_id": "a1a6b29f-1834-4666-82d7-1163ce25f64c",
    "workflow_type": "automated_threat_response",
    "threat_category": "cve_monitoring",
    "priority": "HIGH"
  }
}