workflows/workspace-2026-01-07 (9)_critical-cve-response.json
{
  "name": "CyberSentinel - Critical Vulnerability Response",
  "nodes": [
    {
      "name": "WebhookTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {
        "path": "cybersentinel-cve-alert",
        "method": "POST"
      }
    },
    {
      "name": "ParseCVEData",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "parameters": {
        "functionCode": "const items = $input.all();\nconst processed = items.map(item => {\n  const json = item.json;\n  \n  // Calculate severity score\n  let severityScore = 0;\n  if (json.cvss >= 9.0) severityScore = 100;\n  else if (json.cvss >= 7.0) severityScore = 75;\n  else if (json.cvss >= 4.0) severityScore = 50;\n  else severityScore = 25;\n  \n  // Add exploitation status bonus\n  if (json.activeExploitation) severityScore += 20;\n  if (json.cisaKEV) severityScore += 15;\n  \n  return {\n    json: {\n      cveId: json.cveId,\n      severity: severityScore >= 95 ? 'CRITICAL' : severityScore >= 75 ? 'HIGH' : severityScore >= 50 ? 'MEDIUM' : 'LOW',\n      severityScore: Math.min(severityScore, 100),\n      affectedSoftware: json.affectedSoftware,\n      cvss: json.cvss,\n      description: json.description,\n      exploitationStatus: json.activeExploitation ? 'ACTIVE' : 'POTENTIAL',\n      cisaKEV: json.cisaKEV,\n      vendorAdvisory: json.vendorAdvisory,\n      patched: false,\n      assigned: false\n    }\n  };\n});\nreturn processed;"
      }
    },
    {
      "name": "CriticalCVEFilter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "value": "={{ $json.severity }}",
        "operation": "equal",
        "type": "string",
        "values": {
          "string": [
            "CRITICAL"
          ]
        }
      }
    },
    {
      "name": "CheckCISAKEV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "parameters": {
        "functionCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const cve = item.json;\n  \n  if (cve.cisaKEV) {\n    results.push({\n      json: {\n        ...cve,\n        priority: 'URGENT',\n        responseDeadline: '48 HOURS',\n        actionRequired: 'IMMEDIATE_PATCH_OR_MITIGATION'\n      }\n    });\n  } else if (cve.severity === 'CRITICAL') {\n    results.push({\n      json: {\n        ...cve,\n        priority: 'HIGH',\n        responseDeadline: '1 WEEK',\n        actionRequired: 'PATCH_PRIORITY'\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "name": "GenerateIOCs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "functionCode": "const items = $input.all();\nconst iocDatabase = [];\n\n// Known IOCs for current active exploits\nconst knownIOCs = {\n  'CVE-2025-55182': {\n    signatures: [\n      'Suspicious file writes to /tmp/',\n      'New processes spawned by Node.js/React',\n      'Execution of whoami, id, uname commands'\n    ],\n    networkIOCs: [\n      '206.237.3.150',\n      '45.77.33.136',\n      '143.198.92.82',\n      '183.6.80.214'\n    ],\n    affectedPaths: [\n      '/etc/passwd access attempts',\n      '/tmp/pwned.txt creation'\n    ]\n  },\n  'CVE-2025-20393': {\n    signatures: [\n      'Cisco AsyncOS suspicious processes',\n      'Unusual email gateway connections'\n    ],\n    networkIOCs: [\n      'Suspicious outbound to known C2'\n    ]\n  },\n  'BRICKSTORM': {\n    signatures: [\n      'VMware tools anomalies',\n      'Unusual registry modifications',\n      'Suspicious kernel driver loads'\n    ],\n    fileIOCs: [\n      'Unknown kernel drivers',\n      'Modified VMware binaries'\n    ]\n  }\n};\n\nfor (const item of items) {\n  const cve = item.json;\n  const cveId = cve.cveId;\n  \n  if (knownIOCs[cveId]) {\n    iocDatabase.push({\n      json: {\n        cveId: cveId,\n        type: 'CVE',\n        severity: cve.severity,\n        timestamp: new Date().toISOString(),\n        indicators: knownIOCs[cveId]\n      }\n    });\n  }\n}\n\nreturn iocDatabase;"
      }
    },
    {
      "name": "CreateIncidentTicket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.severity === 'CRITICAL' ? 'https://your-siem/api/incidents' : 'https://your-siem/api/tickets' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  title: 'CyberSentinel Alert: ' + $json.cveId + ' - ' + $json.severity,\n  description: $json.description,\n  severity: $json.severity,\n  affectedSystems: $json.affectedSoftware,\n  cvssScore: $json.cvss,\n  exploitStatus: $json.exploitationStatus,\n  recommendedActions: [\n    'Apply vendor patch immediately if available',\n    'Implement temporary mitigation controls',\n    'Monitor for IOCs',\n    'Update detection rules'\n  ],\n  createdAt: new Date().toISOString(),\n  source: 'CyberSentinel'\n}) }}",
        "options": {}
      }
    },
    {
      "name": "SendAlertNotification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "channel": "={{ $json.severity === 'CRITICAL' ? '#security-critical' : '#security-alerts' }}",
        "text": "={{ '🚨 *CYBERSENTINEL ALERT* 🚨\\n\\n*CVE:* ' + $json.cveId + '\\n*Severity:* ' + $json.severity + ' (CVSS: ' + $json.cvss + ')\\n*Status:* ' + $json.exploitationStatus + '\\n*Priority:* ' + $json.priority + '\\n\\n*Affected:* ' + $json.affectedSoftware + '\\n\\n*Action Required:* ' + $json.actionRequired + '\\n*Deadline:* ' + $json.responseDeadline }}",
        "options": {}
      }
    },
    {
      "name": "UpdateDetectionRules",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ],
      "parameters": {
        "functionCode": "const items = $input.all();\nconst detectionRules = [];\n\nfor (const item of items) {\n  const cve = item.json;\n  \n  detectionRules.push({\n    json: {\n      ruleId: 'CYBERSENTINEL-DETECT-' + cve.cveId.replace('-', '_'),\n      name: 'Detect exploitation of ' + cve.cveId,\n      description: 'Generated detection rule for ' + cve.cveId,\n      severity: cve.severity,\n      logic: {\n        eventType: 'process_creation',\n        conditions: cve.cveId === 'CVE-2025-55182' ? [\n          'process.name CONTAINS \"node\" AND process.parent.name CONTAINS \"react\"',\n          'process.command_line CONTAINS \"whoami\" OR process.command_line CONTAINS \"id\"',\n          'file.path CONTAINS \"/tmp/pwned\"'\n        ] : [\n          'Custom detection logic required'\n        ]\n      },\n      status: 'ACTIVE',\n      createdAt: new Date().toISOString(),\n      source: 'CyberSentinel'\n    }\n  });\n}\n\nreturn detectionRules;"
      }
    },
    {
      "name": "UpdateIOCDatabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://your-siem/api/iocs/bulk",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(item => item.json)) }}",
        "options": {}
      }
    },
    {
      "name": "ArchiveAlert",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1900,
        200
      ],
      "parameters": {
        "operation": "append",
        "node": "CyberSentinel Archive",
        "returnAll": false,
        "limit": 100
      }
    }
  ],
  "connections": {
    "WebhookTrigger": {
      "main": [
        [
          {
            "node": "ParseCVEData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseCVEData": {
      "main": [
        [
          {
            "node": "CriticalCVEFilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriticalCVEFilter": {
      "main": [
        [
          {
            "node": "CheckCISAKEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCISAKEV": {
      "main": [
        [
          {
            "node": "GenerateIOCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateIOCs": {
      "main": [
        [
          {
            "node": "CreateIncidentTicket",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendAlertNotification",
            "type": "main",
            "index": 0
          },
          {
            "node": "UpdateDetectionRules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateDetectionRules": {
      "main": [
        [
          {
            "node": "UpdateIOCDatabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateIOCDatabase": {
      "main": [
        [
          {
            "node": "ArchiveAlert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}