workflows/workspace-2026-01-06 (39)_n8n_workflow_react2shell_response.json
{
  "name": "React2Shell Critical Vulnerability Response",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "webhookId": "react2shell-cve-2025-55182"
    },
    {
      "parameters": {
        "operation": "filter",
        "conditions": {
          "values": [
            {
              "value1": "={{ $json.severity }}",
              "operation": "equal",
              "value2": "CRITICAL"
            }
          ]
        }
      },
      "id": "filter-critical",
      "name": "Filter Critical",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "channel": "security-alerts",
        "text": "=🚨 CRITICAL: React2Shell Vulnerability (CVE-2025-55182) Detected!\n\nTarget: {{ $json.affected_systems }}\nAttack Vector: {{ $json.attack_vector }}\nCVSS: 10.0 (Perfect Score)\n\nImmediate Actions Required:\n1. Patch React Server Components to v19.1+\n2. Apply Next.js security patches\n3. Deploy WAF rules for Flight protocol anomalies\n4. Enable enhanced logging\n\nWorkflow ID: workflow-react2shell-response",
        "attachments": []
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack Security Alerts"
        }
      }
    },
    {
      "parameters": {
        "to": "security-team@company.com",
        "subject": "🚨 CRITICAL: React2Shell Vulnerability Alert - CVE-2025-55182",
        "options": {
          "html": true
        },
        "html": "<h2>🚨 Critical Vulnerability Alert: React2Shell (CVE-2025-55182)</h2>\n<p><strong>Severity:</strong> CRITICAL (CVSS 10.0)</p>\n<p><strong>Status:</strong> Actively Exploited Zero-Day</p>\n<h3>Affected Systems:</h3>\n<ul>\n<li>React 19 applications with Server Components</li>\n<li>Next.js deployments using RSC</li>\n<li>Node.js servers processing React Flight protocol</li>\n</ul>\n<h3>Attack Vector:</h3>\n<p>Unauthenticated RCE via single crafted HTTP request to Flight endpoint.</p>\n<h3>Immediate Actions:</h3>\n<ol>\n<li><strong>Patch immediately:</strong> Upgrade to React 19.1+</li>\n<li><strong>Deploy WAF rules:</strong> Block Flight protocol anomalies</li>\n<li><strong>Enable monitoring:</strong> Enhanced logging for React server endpoints</li>\n<li><strong>Review systems:</strong> Check for compromise indicators</li>\n</ol>\n<h3>Indicators of Compromise:</h3>\n<ul>\n<li>Unexpected process spawning from Node.js workers</li>\n<li>Anomalous outbound connections from React server processes</li>\n<li>Web shell deployment in web root directories</li>\n</ul>\n<p>Refer to full CyberSentinel report for complete mitigation guidance.</p>"
      },
      "id": "email-alert",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "=React2Shell (CVE-2025-55182) - Critical RCE Vulnerability",
        "body": "## Critical Vulnerability Alert\n\n**CVE ID:** CVE-2025-55182  \n**Severity:** CRITICAL (CVSS 10.0)  \n**Status:** Actively Exploited Zero-Day\n\n### Affected Systems\n- React 19 with Server Components\n- Next.js with RSC enabled\n- Node.js servers using React Flight protocol\n\n### Attack Vector\nUnauthenticated Remote Code Execution via crafted HTTP request to Flight endpoint.\n\n### Required Actions\n1. Apply patches immediately\n2. Deploy WAF rules\n3. Enable enhanced monitoring\n4. Review systems for compromise\n\n### IOCs\n- HTTP requests to /flight endpoint with serialized data\n- Unexpected Node.js process spawning\n- Memory injection patterns\n\n---\n*Generated by CyberSentinel Threat Intelligence*",
        "labels": [
          "critical",
          "vulnerability",
          "react",
          "zero-day",
          "cve-2025-55182"
        ]
      },
      "id": "jira-ticket",
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "credentials": {
        "jiraApi": {
          "id": "jira-creds",
          "name": "Jira ITSM"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "threat_iocs",
        "columns": {
          "cve_id": "={{ $json.cve_id }}",
          "threat_type": "={{ $json.threat_type }}",
          "severity": "={{ $json.severity }}",
          "indicator": "={{ $json.indicator }}",
          "detection_rule": "={{ $json.detection_rule }}",
          "created_at": "={{ $json.timestamp }}"
        }
      },
      "id": "log-ioc",
      "name": "Log IOC to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-threat-intel",
          "name": "Threat Intelligence DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-waf-api.com/rules",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WAF_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_name\": \"Block React2Shell Flight Protocol Anomaly\",\n  \"action\": \"block\",\n  \"conditions\": [\n    {\n      \"type\": \"request_uri\",\n      \"operator\": \"contains\",\n      \"value\": \"/flight\"\n    },\n    {\n      \"type\": \"request_header\",\n      \"operator\": \"contains\",\n      \"value\": \"RSC\"\n    }\n  ],\n  \"priority\": 1,\n  \"description\": \"Blocking CVE-2025-55182 exploitation attempts\"\n}"
      },
      "id": "deploy-waf-rule",
      "name": "Deploy WAF Rule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "=python3 /opt/security/patch_management.py --cve CVE-2025-55182 --priority critical"
      },
      "id": "trigger-patching",
      "name": "Trigger Patching Workflow",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "filter",
        "conditions": {
          "values": [
            {
              "value1": "={{ $json.auto_patch_enabled }}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-auto-patch",
      "name": "Check Auto-Patch Eligibility",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Deploy WAF Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Alert": {
      "main": [
        [
          {
            "node": "Log IOC to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Ticket": {
      "main": [
        [
          {
            "node": "Deploy WAF Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log IOC to Database": {
      "main": [
        [
          {
            "node": "Trigger Patching Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy WAF Rule": {
      "main": [
        [
          {
            "node": "Check Auto-Patch Eligibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Patching Workflow": {
      "main": [
        []
      ]
    },
    "Check Auto-Patch Eligibility": {
      "main": [
        [
          {
            "node": "Trigger Patching Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "workflow-react2shell-response",
  "meta": {
    "cyberSentinel_agent_id": "a401e896-d617-4e97-8bbf-29f47e133c21",
    "trigger_id": "a1a6b29f-1834-4666-82d7-1163ce25f64c",
    "threat_id": "THREAT-001",
    "cve_id": "CVE-2025-55182",
    "automation_level": "FULLY_AUTOMATED",
    "created_at": "2025-12-30T12:00:00.000Z"
  }
}