workflows/workspace-2026-01-06 (39)_n8n_workflow_qilin_ransomware_response.json
{
  "name": "Qilin Ransomware Critical Response",
  "nodes": [
    {
      "parameters": {},
      "id": "detection-trigger",
      "name": "IOC Detection Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "webhookId": "qilin-ransomware-detected"
    },
    {
      "parameters": {
        "operation": "filter",
        "conditions": {
          "values": [
            {
              "value1": "={{ $json.threat_type }}",
              "operation": "equal",
              "value2": "RANSOMWARE"
            },
            {
              "value1": "={{ $json.threat_actor }}",
              "operation": "equal",
              "value2": "Qilin"
            }
          ]
        }
      },
      "id": "verify-qilin",
      "name": "Verify Qilin Activity",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "channel": "security-critical",
        "text": "🚨🚨 QILIN RANSOMWARE DETECTED 🚨🚨\n\n⚠️ CRITICAL: Active Qilin ransomware indicators detected!\n\nTarget Industry: {{ $json.target_industry }}\nAttack Vector: {{ $json.attack_vector }}\nData Exfiltration: 31,200 TB claimed\n\n🔴 IMMEDIATE ACTIONS:\n1. ISOLATE affected network segments NOW\n2. DISABLE RDP access enterprise-wide\n3. VERIFY backup integrity\n4. ENGAGE incident response team\n5. NOTIFY executive leadership\n\nWorkflow: workflow-qilin-ransomware-response",
        "attachments": []
      },
      "id": "slack-critical",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.slack",
      "TypeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack Security Alerts"
        }
      }
    },
    {
      "parameters": {
        "to": "ciso@company.com,incident-response@company.com,it-ops@company.com",
        "subject": "🚨 CRITICAL: Qilin Ransomware Detection - Immediate Action Required",
        "options": {
          "html": true
        },
        "html": "<h1 style=\"color: #dc2626;\">🚨 CRITICAL: Qilin Ransomware Alert</h1>\n<p><strong>Threat:</strong> Qilin Ransomware-as-a-Service (RaaS)</p>\n<p><strong>Severity:</strong> CRITICAL</p>\n<p><strong>Data Exfiltration:</strong> 31,200 TB claimed (record for 2025)</p>\n\n<h2 style=\"color: #dc2626;\">Immediate Actions Required</h2>\n<ol style=\"background: #fef2f2; padding: 20px; border-radius: 8px;\">\n<li><strong>NETWORK ISOLATION:</strong> Immediately isolate affected systems</li>\n<li><strong>DISABLE RDP:</strong> Enterprise-wide RDP disablement</li>\n<li><strong>BACKUP VERIFICATION:</strong> Verify integrity of offline backups</li>\n<li><strong>INCIDENT RESPONSE:</strong> Engage IR team immediately</li>\n<li><strong>COMMUNICATIONS:</strong> Executive notification</li>\n</ol>\n\n<h2>Known IOCs</h2>\n<ul>\n<li>Files encrypted with .qilin extension</li>\n<li>Ransom notes: README_README.txt</li>\n<li>Lateral movement via SMB/RDP</li>\n<li>Privilege escalation to SYSTEM</li>\n</ul>\n\n<h2>Targeted Industries (34% increase YoY)</h2>\n<ul>\n<li>Manufacturing (+35% YoY)</li>\n<li>Healthcare (+43% YoY)</li>\n<li>Energy & Critical Infrastructure</li>\n<li>Finance</li>\n</ul>\n\n<p><em>Generated by CyberSentinel Threat Intelligence</em></p>"
      },
      "id": "email-critical",
      "name": "Critical Email Alert",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "=CRITICAL: Qilin Ransomware Incident - Active Response Required",
        "body": "## Qilin Ransomware Incident\n\n**Status:** 🚨 CRITICAL - Active Detection  \n**Severity:** Critical  \n**Threat Actor:** Qilin RaaS  \n**Data Exfiltration:** 31,200 TB claimed\n\n### Detection Context\n{{ $json.detection_context }}\n\n### Immediate Actions\n1. [ ] Isolate affected network segments\n2. [ ] Disable enterprise-wide RDP\n3. [ ] Verify backup integrity (offline)\n4. [ ] Engage incident response team\n5. [ ] Notify executive leadership\n6. [ ] Preserve forensic evidence\n7. [ ] Document all affected systems\n\n### Qilin IOCs\n- **Extension:** .qilin\n- **Ransom Note:** README_README.txt\n- **Attack Vectors:** VPN, RDP, Phishing, Exploit Kits\n- **Lateral Movement:** SMB, RDP\n\n### Targeted Industries\n- Manufacturing (+35% YoY)\n- Healthcare (+43% YoY)\n- Energy & Critical Infrastructure\n- Finance\n\n---\n*CyberSentinel Automated Incident Ticket*",
        "priority": "Highest",
        "labels": [
          "ransomware",
          "critical",
          "qilin",
          "incident-response"
        ]
      },
      "id": "jira-incident",
      "name": "Create Incident Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "credentials": {
        "jiraApi": {
          "id": "jira-creds",
          "name": "Jira ITSM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-soar-api.com/playbooks/qilin-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SOAR_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"incident_type\": \"ransomware\",\n  \"threat_actor\": \"qilin\",\n  \"severity\": \"critical\",\n  \"playbook\": \"qilin-ransomware-response\",\n  \"actions\": [\n    \"isolate_network\",\n    \"disable_rdp\",\n    \"verify_backups\",\n    \"engage_ir\",\n    \"notify_executives\"\n  ],\n  \"affected_systems\": {{ $json.affected_systems | toJSON }},\n  \"indicators\": {{ $json.iocs | toJSON }}\n}"
      },
      "id": "soar-playbook",
      "name": "Trigger SOAR Playbook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-edr-api.com/isolate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.EDR_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"network_isolate\",\n  \"scope\": \"host_group\",\n  \"host_group\": \"ransomware_target\",\n  \"reason\": \"Qilin ransomware detection\",\n  \"duration_minutes\": 60\n}"
      },
      "id": "edr-isolate",
      "name": "EDR Network Isolation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-network-api.com/rdp-disable",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.NETWORK_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"disable_rdp\",\n  \"scope\": \"enterprise\",\n  \"reason\": \"Qilin ransomware prevention\",\n  \"approval_required\": false,\n  \"emergency_override\": true\n}"
      },
      "id": "disable-rdp",
      "name": "Disable RDP Enterprise-Wide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "python3 /opt/security/backup_verifier.py --threat qilin --check_all"
      },
      "id": "verify-backups",
      "name": "Verify Backup Integrity",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-siem-api.com/api/v1/rules",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SIEM_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_name\": \"Qilin Ransomware Detection\",\n  \"rule_type\": \"correlation\",\n  \"severity\": \"critical\",\n  \"conditions\": [\n    {\n      \"field\": \"file_extension\",\n      \"operator\": \"equals\",\n      \"value\": \".qilin\"\n    },\n    {\n      \"field\": \"process_name\",\n      \"operator\": \"contains\",\n      \"value\": \"ransomware\"\n    }\n  ],\n  \"actions\": [\n    \"alert\",\n    \"auto_isolate\"\n  ],\n  \"enabled\": true\n}"
      },
      "id": "deploy-siem-rules",
      "name": "Deploy SIEM Detection Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "=Qilin Ransomware - Executive Briefing Required",
        "body": "## Executive Briefing: Qilin Ransomware Incident\n\n**Classification:** CONFIDENTIAL  \n**Status:** Active Investigation  \n**Severity:** Critical\n\n### Situation\nQilin ransomware indicators have been detected within our environment. The threat actor is responsible for 31,200 TB of data exfiltration globally and has increased attacks on critical infrastructure by 34%.\n\n### Business Impact\n- **Industry Risk:** Manufacturing (+35% YoY), Healthcare (+43% YoY)\n- **Data at Risk:** Potentially 31,200 TB of sensitive data\n- **Operational Impact:** Network isolation may affect operations\n- **Financial Exposure:** Significant ransom demand potential\n\n### Actions Taken\n1. Security teams alerted and responding\n2. Network isolation in progress\n3. RDP disabled enterprise-wide\n4. Incident response engaged\n5. Backup verification initiated\n\n### Required Executive Decisions\n- [ ] Authorize enhanced security measures\n- [ ] Approve external IR engagement if needed\n- [ ] Prepare communications plan\n- [ ] Review cyber insurance coverage\n\n---\n*Generated by CyberSentinel*",
        "labels": [
          "executive",
          "ransomware",
          "confidential"
        ]
      },
      "id": "exec-briefing",
      "name": "Create Executive Briefing",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "channel": "security-leadership",
        "text": "📋 EXECUTIVE BRIEFING: Qilin Ransomware Incident\n\nCISO and Leadership Team,\n\nQilin ransomware has been detected. Executive briefing document created for review.\n\nKey Points:\n• 31,200 TB data exfiltration capability\n• Critical infrastructure targeting\n• Manufacturing +35%, Healthcare +43% YoY attacks\n\nPlease review the briefing document and be prepared for an emergency call.\n\n#ransomware #critical #incident",
        "attachments": []
      },
      "id": "exec-notification",
      "name": "Executive Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ]
    }
  ],
  "connections": {
    "IOC Detection Trigger": {
      "main": [
        [
          {
            "node": "Verify Qilin Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Qilin Activity": {
      "main": [
        [
          {
            "node": "Slack Critical Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Incident Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger SOAR Playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Critical Alert": {
      "main": [
        [
          {
            "node": "EDR Network Isolation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Email Alert": {
      "main": [
        []
      ]
    },
    "Create Incident Ticket": {
      "main": [
        [
          {
            "node": "Create Executive Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger SOAR Playbook": {
      "main": [
        [
          {
            "node": "Disable RDP Enterprise-Wide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EDR Network Isolation": {
      "main": [
        [
          {
            "node": "Deploy SIEM Detection Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disable RDP Enterprise-Wide": {
      "main": [
        [
          {
            "node": "Verify Backup Integrity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Backup Integrity": {
      "main": [
        []
      ]
    },
    "Deploy SIEM Detection Rules": {
      "main": [
        []
      ]
    },
    "Create Executive Briefing": {
      "main": [
        [
          {
            "node": "Executive Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executive Notification": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "workflow-qilin-ransomware-response",
  "meta": {
    "cyberSentinel_agent_id": "a401e896-d617-4e97-8bbf-29f47e133c21",
    "trigger_id": "a1a6b29f-1834-4666-82d7-1163ce25f64c",
    "threat_id": "THREAT-004",
    "threat_actor": "Qilin",
    "threat_type": "RANSOMWARE",
    "automation_level": "FULLY_AUTOMATED",
    "created_at": "2025-12-30T12:00:00.000Z"
  }
}