workflows/workspace-2026-01-06 (23)_cve-response-workflow.json
{
  "name": "CyberSentinel - React2Shell CVE Response Workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0?cveId=CVE-2025-55182",
        "options": {}
      },
      "name": "NVD CVE API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "value": "={{ $json.description }}",
        "key": "cveDescription"
      },
      "name": "Extract CVE Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "value": "={{ $json.cvssMetricV31[0].cvssData.baseScore }}",
        "key": "cvssScore"
      },
      "name": "Calculate CVSS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Check Affected Assets",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "subject": "CRITICAL: React2Shell Vulnerability (CVE-2025-55182) Detected",
        "body": "=<h2>Critical Vulnerability Alert</h2>\n<p><strong>CVE-2025-55182 - React2Shell RCE</strong></p>\n<p><strong>Severity:</strong> CRITICAL (CVSS 10.0)</p>\n<p><strong>Status:</strong> Actively Exploited by China-Nexus APT Groups</p>\n<p><strong>Affected Systems:</strong></p>\n<ul><li>React 19.x with Server Components enabled</li><li>Next.js 15.x/16.x with App Router</li></ul>\n<p><strong>Immediate Actions Required:</strong></p>\n<ol><li>Patch React to v19.1.0+ immediately</li><li>Upgrade Next.js to patched version</li><li>Block external HTTP requests to RSC endpoints if patching delayed</li><li>Audit logs for suspicious requests containing `_rsc` query parameters</li></ol>\n<p><strong>Attribution:</strong> Earth Lamia, Jackpot Panda (China State-Nexus)</p>\n<p><strong>IOCs:</strong></p>\n<pre>{{ $json.indicators }}</pre>",
        "attachments": "={{ $binary }}"
      },
      "name": "Alert Security Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "channel": "#security-alerts",
        "text": "🚨 CRITICAL ALERT: CVE-2025-55182 (React2Shell) Detected\nStatus: Actively Exploited\nCVSS: 10.0\nAttribution: China-Nexus APT (Earth Lamia, Jackpot Panda)\nImmediate actions required. See email for details."
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "vulnerability_tracking",
        "fields": {
          "cve_id": "CVE-2025-55182",
          "threat_type": "VULNERABILITY",
          "severity": "CRITICAL",
          "description": "React Server Components Remote Code Execution",
          "affected_systems": "React 19.x, Next.js 15.x/16.x",
          "cvss_score": 10,
          "exploit_status": "ACTIVE",
          "threat_actor": "Earth Lamia, Jackpot Panda",
          "workflow_id": "CVE-RESPONSE-2025-55182",
          "created_at": "={{ now }}"
        }
      },
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "ruleId": "react2shell-detect"
      },
      "name": "Update SIEM Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        200
      ]
    }
  ],
  "connections": {
    "NVD CVE API": {
      "main": [
        [
          {
            "node": "Extract CVE Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CVE Details": {
      "main": [
        [
          {
            "node": "Calculate CVSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate CVSS": {
      "main": [
        [
          {
            "node": "Check Affected Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Affected Assets": {
      "main": [
        [
          {
            "node": "Alert Security Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Security Team": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Update SIEM Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "id": "CVE-RESPONSE-2025-55182"
}