workflows/workspace-2026-01-06 (38)_cybersentinel-vulnerability-response.json
{
  "name": "CyberSentinel Vulnerability Response Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": "rules"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "functionCode": "// Parse incoming CVE data\nconst cveData = items[0].json;\nconst severity = cveData.severity || 'UNKNOWN';\nconst cvss = cveData.cvss_score || 0;\n\n// Determine triage priority\nlet priority = 'LOW';\nlet autoResponse = 'MONITOR';\n\nif (cvss >= 9.0 || severity === 'CRITICAL') {\n  priority = 'CRITICAL';\n  autoResponse = 'BLOCK';\n} else if (cvss >= 7.0 || severity === 'HIGH') {\n  priority = 'HIGH';\n  autoResponse = 'ALERT';\n} else if (cvss >= 4.0 || severity === 'MEDIUM') {\n  priority = 'MEDIUM';\n  autoResponse = 'LOG';\n}\n\nreturn {\n  cve_id: cveData.cve_id,\n  severity: severity,\n  cvss_score: cvss,\n  priority: priority,\n  auto_response: autoResponse,\n  affected_systems: cveData.affected_systems || [],\n  exploitation_status: cveData.exploitation_status || 'UNKNOWN',\n  timestamp: new Date().toISOString()\n};\n"
      },
      "id": "cve-triage",
      "name": "CVE Triage Engine",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "notesInFlow": true,
      "notes": "Automatically triages CVEs based on CVSS score and severity"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "operation": "equal",
              "value2": "CRITICAL"
            }
          ]
        }
      },
      "id": "critical-filter",
      "name": "Critical Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.priority }}",
              "operation": "equal",
              "value2": "HIGH"
            }
          ]
        }
      },
      "id": "high-filter",
      "name": "High Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Generate emergency patching ticket\nconst cve = items[0].json;\nreturn {\n  ticket_type: 'EMERGENCY_PATCH',\n  severity: 'P1 - CRITICAL',\n  title: `URGENT: Patch Required - ${cve.cve_id}`,\n  description: `Critical vulnerability ${cve.cve_id} requires immediate patching\\n\\nCVSS Score: ${cve.cvss_score}\\nExploitation: ${cve.exploitation_status}\\nAffected Systems: ${cve.affected_systems.join(', ')}`,\n  assignee: 'Security Team',\n  sla_hours: 4,\n  auto_approved: true,\n  emergency_change: true\n};\n"
      },
      "id": "create-ticket",
      "name": "Create Emergency Ticket",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "// Send critical alert\nconst cve = items[0].json;\nreturn {\n  alert_type: 'CRITICAL_CVE',\n  channel: 'security-critical',\n  message: `🚨 CRITICAL VULNERABILITY ALERT\\n\\nCVE: ${cve.cve_id}\\nCVSS: ${cve.cvss_score}\\nSeverity: ${cve.severity}\\nExploitation: ${cve.exploitation_status}\\n\\nAffected Systems:\\n${cve.affected_systems.map(s => '- ' + s).join('\\n')}\\n\\nIMMEDIATE ACTION REQUIRED`,\n  urgency: 'critical',\n  notification_methods: ['slack', 'email', 'sms', 'pagerduty']\n};\n"
      },
      "id": "critical-alert",
      "name": "Critical Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "// Create high priority ticket\nconst cve = items[0].json;\nreturn {\n  ticket_type: 'HIGH_PRIORITY_PATCH',\n  severity: 'P2 - HIGH',\n  title: `High Priority Patch Required - ${cve.cve_id}`,\n  description: `High severity vulnerability ${cve.cve_id} requires attention\\n\\nCVSS Score: ${cve.cvss_score}\\nExploitation: ${cve.exploitation_status}\\nAffected Systems: ${cve.affected_systems.join(', ')}`,\n  assignee: 'Vulnerability Management',\n  sla_hours: 24,\n  auto_approved: false,\n  emergency_change: false\n};\n"
      },
      "id": "high-ticket",
      "name": "Create High Ticket",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Send high priority alert\nconst cve = items[0].json;\nreturn {\n  alert_type: 'HIGH_CVE',\n  channel: 'security-alerts',\n  message: `⚠️ HIGH VULNERABILITY ALERT\\n\\nCVE: ${cve.cve_id}\\nCVSS: ${cve.cvss_score}\\nSeverity: ${cve.severity}\\n\\nPatch within 24 hours required`,\n  urgency: 'high',\n  notification_methods: ['slack', 'email']\n};\n"
      },
      "id": "high-alert",
      "name": "High Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Log medium/low vulnerabilities\nconst cve = items[0].json;\nreturn {\n  log_type: 'CVE_LOG',\n  cve_id: cve.cve_id,\n  severity: cve.severity,\n  cvss: cve.cvss_score,\n  status: 'LOGGED_FOR_MONITORING',\n  next_review: new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString(),\n  scheduled_patch_window: 'NEXT_PATCH_TUESDAY'\n};\n"
      },
      "id": "log-vulnerability",
      "name": "Log & Monitor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Query asset inventory for affected systems\nconst cve = items[0].json;\n// Simulate asset query\nreturn {\n  affected_assets: [\n    { hostname: 'web-server-01', ip: '10.1.1.10', environment: 'production', owner: 'Web Team' },\n    { hostname: 'api-server-02', ip: '10.1.1.11', environment: 'production', owner: 'API Team' },\n    { hostname: 'dev-server-01', ip: '10.2.1.10', environment: 'development', owner: 'Dev Team' }\n  ],\n  total_affected: 3,\n  production_affected: 2,\n  critical_systems_affected: 1\n};\n"
      },
      "id": "asset-query",
      "name": "Asset Inventory Query",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "// Generate patch compliance report\nconst report = {\n  report_id: 'PATCH-' + Date.now(),\n  generated_at: new Date().toISOString(),\n  period: 'WEEKLY',\n  metrics: {\n    total_cves: 0,\n    critical_patched: 0,\n    high_patched: 0,\n    medium_patched: 0,\n    pending_critical: 0,\n    pending_high: 0\n  },\n  compliance_status: 'AT_RISK',\n  recommendations: []\n};\n\nreturn report;\n"
      },
      "id": "compliance-report",
      "name": "Patch Compliance Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "// Execute emergency blocking rule\nconst cve = items[0].json;\nreturn {\n  action: 'BLOCK_EXPLOIT_TRAFFIC',\n  rule_type: 'WAF_RULE',\n  cve_id: cve.cve_id,\n  block_patterns: [\n    `*${cve.cve_id}*`,\n    '*react-server-components*exploit*',\n    '*rce*attempt*'\n  ],\n  target_systems: cve.affected_systems,\n  duration: 'UNTIL_PATCHED',\n  audit_log: true\n};\n"
      },
      "id": "block-exploit",
      "name": "Block Exploit Traffic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "CVE Triage Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CVE Triage Engine": {
      "main": [
        [
          {
            "node": "Asset Inventory Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Inventory Query": {
      "main": [
        [
          {
            "node": "Critical Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "High Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Only": {
      "main": [
        [
          {
            "node": "Create Emergency Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Block Exploit Traffic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Only": {
      "main": [
        [
          {
            "node": "Create High Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "High Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "trigger": {
    "type": "webhook"
  },
  "meta": {
    "workflow_id": "cybersentinel-vulnerability-response-v1",
    "version": "1.0.0",
    "created": "2025-12-28T00:00:00Z",
    "description": "Automated vulnerability response workflow for critical and high severity CVEs",
    "author": "CyberSentinel",
    "tags": [
      "vulnerability",
      "cve",
      "patching",
      "automation",
      "incident-response"
    ]
  }
}